<div class="row">
  <div class="span3">

  	<h3>Categories</h3>

  </div>

  <% if user_signed_in? %>

  	<div class="span9">

	  	<h1>Welcome to Untold Histories!</h1>

	  	<p>This is where all the interesing stuff will eventually go.</p>

	  	<p> <%= link_to "Sign out", destroy_user_session_path, class: "btn btn-warning"%>
	  		
  	</div>

  <% else %>

	  <div class="span9">
			<h1>Untold Histories</h1>

			<p>The <em>Truth</em> about history, as told by those who know best: The People.</p>

			<p>Want to add your favorite, little-known facts about history? Then click the button below to get started!</p>

			<p> <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-success" %>
			</p>
		</div>
	<% end %>
</div>




